# Vars sources on run and used on nixos build
export PROXY_HOST='REDACTED'
export PROXY_PORT='REDACTED'
export LDAP_USER='REDACTED'
export LDAP_PASSWORD='REDACTED'
export WORK_DOCKER_REGISTRY='REDACTED'
export VAULT_TOKEN='REDACTED'
export VAULT_ADRESS='REDACTED'
